<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'petropolis.jpg' %>);">
  <div class="container">
    <h1>Colabore com a reconstrução da <strong>Cidade Imperial</strong></h1>
    <p>Conheça as instituições para as quais você pode doar</p>
    <%= link_to "Doe aqui", "#", class: "btn btn-flat" %>

    <div class="effetc-js mt-5">

        <span id="typed" data-controller="typed-js"
                         data-cash='<%= @donations_cash %>'
                         data-food='<%= @donations_food %>'
                         data-cloth='<%= @donations_cloth %>'>
        </span>

    </div>
  </div>
</div>

<div class="container-home">
  <div class="row">
    <% @campaigns.each do |campaign| %>
      <div class="col-sm-6 col-lg-3">
        <div class="cards">
          <%= link_to campaign_path(campaign) do %>
            <div class="card-trip">
              <% if campaign.image.attached? %>
                <%= cl_image_tag campaign.image.key, height: 300, width: 400, crop: :fill %>
                <% else %>
                <%= image_tag 'placeholder.jpeg' %>
                <% end %>
              <div class="card-trip-infos">
                <div class="card-layout">
                  <h2><%= campaign.name %></h2>
                  <%= campaign.info %>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
</div>
