<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'petropolis.jpg' %>);">
  <div class="container">
    <h1>Colabore com a reconstrução da <strong>Cidade Imperial</strong></h1>
    <p>Conheça as instituições para as quais você pode doar</p>
    <%= link_to "Doe aqui", "#", class: "btn btn-flat" %>
  </div>
</div>

<<<<<<< HEAD
<div class="row">

    <div class="col-sm-6 col-lg-3">
      <div class="cards">
        <%= link_to campaigns_path do %>
          <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-trip-infos">
              <div class="card-layout">
                <h2>Campanha 1</h2>
                <p>Ajude com sua doação para essa instituição</p>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="cards">
        <%= link_to campaigns_path do %>
          <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-trip-infos">
              <div class="card-layout">
                <h2>Campanha 2</h2>
                <p>Ajude com sua doação para essa instituição</p>
=======
<div class="container-home">
  <div class="row">
    <% @campaigns.each do |campaign| %>
      <div class="col-sm-6 col-lg-3">
        <div class="cards">
          <%= link_to campaign_path(campaign) do %>
            <div class="card-trip">
              <% if campaign.image.attached? %>
                <%= cl_image_tag campaign.image.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <%= image_tag 'placeholder.jpeg' %>
              <% end %>
              <div class="card-trip-infos">
                <div class="card-layout">
                  <h2><%= campaign.name %></h2>
                  <%= campaign.info %>
                </div>
>>>>>>> c568b0745e7d01ef60b943d238ba750cfe13ded8
              </div>
            </div>
          <%end%>
        </div>
      </div>
<<<<<<< HEAD
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="cards">
        <%= link_to campaigns_path do %>
          <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-trip-infos">
              <div class="card-layout">
                <h2>Campanha 3</h2>
                <p>Ajude com sua doação para essa instituição</p>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="cards">
        <%= link_to campaigns_path do %>
          <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-trip-infos">
              <div class="card-layout">
                <h2>Campanha 4</h2>
                <p>Ajude com sua doação para essa instituição</p>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
=======
    <% end %>
  </div>
</div>
>>>>>>> c568b0745e7d01ef60b943d238ba750cfe13ded8
