<h1>All Campaigns</h1>
<p>Lista de campanhas:</p>

<% @campaigns.each_with_index do |campaign, index| %>
  <p>
    <%= index + 1 %> - <%= campaign.name %> |
    <%= campaign.info %> |
    <%= campaign.user.name %> |
    <%= link_to 'View', campaign_path(campaign) %>
  </p>
<% end %>

<%= link_to 'Create a campaign', new_campaign_path %>
