<div class="title">
  ><h1>Campanhas</h1>
  <p>Todas as campanhas:</p>
</div>

<div class="d-flex">
  <% @campaigns.each_with_index do |campaign, index| %>
    <div class="card" style="width: 300px;">
      <% if campaign.image.attached? %>
        <%= cl_image_tag campaign.image.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag 'placeholder.jpeg' %>
      <% end %>
      <div class="card-body">
        <p>
          <%= index + 1 %> - <%= campaign.name %> |
          <%= campaign.info %> |
          <%= campaign.user.name %> |
          <%= link_to 'Visualizar', campaign_path(campaign) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
<%= link_to 'Criar nova campanha', new_campaign_path %>
