<div class="row header-campaigns">
  <h1>Todas as campanhas</h1>
</div>
<%# <p>Lista de campanhas:</p> %>

<div class="container-home">
  <div class="row">
      <% @campaigns.each_with_index do |campaign, index| %>
        <div class="col-sm-6 col-md-4 col-lg-3">

          <%= link_to campaign_path(campaign), class: "card-allcampaigns", style: 'text-decoration:none; color: black;' do %>
          <div class="card-trip">
              <% if campaign.image.attached? %>
                <%= cl_image_tag campaign.image.key, height: 300, width: 400, crop: :fill %>
                <% else %>
                <%= image_tag 'placeholder.jpeg' %>
                <% end %>
                <div class="card-body">
                  <%= index + 1 %> - <%= campaign.name %>
                  <p><%= campaign.info %></p>
                </div>
          </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
<div class="btn-crate-new-campaign">
  <%= link_to 'Criar uma nova campanha', new_campaign_path, class: "btn btn-primary" %>
</div>
