<h1>Teste de new</h1>

<%= current_user.email %>

<div class="container">
  <%= simple_form_for [@campaign] do |f| %>
    <%= f.input :name %>
    <%= f.input :info %>
    <%= f.input :image, as: :file %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
